<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syyb.seat.mapper.TBookMapper">
  <resultMap id="BaseResultMap" type="com.syyb.seat.pojo.TBook">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="seat_id" jdbcType="INTEGER" property="seatId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="occupy_status" jdbcType="INTEGER" property="occupyStatus" />
    <result column="strat_time" jdbcType="TIMESTAMP" property="stratTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="expire" jdbcType="INTEGER" property="expire" />
    <result column="violation" jdbcType="INTEGER" property="violation" />
    <result column="long_trem" jdbcType="INTEGER" property="longTrem" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, seat_id, user_id, occupy_status, strat_time, end_time, expire, violation, long_trem
  </sql>
  <select id="selectByExample" parameterType="com.syyb.seat.pojo.TBookExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_book
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_book
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.syyb.seat.pojo.TBookExample">
    delete from t_book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.syyb.seat.pojo.TBook">
    insert into t_book (id, seat_id, user_id, 
      occupy_status, strat_time, end_time, 
      expire, violation, long_trem
      )
    values (#{id,jdbcType=INTEGER}, #{seatId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{occupyStatus,jdbcType=INTEGER}, #{stratTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{expire,jdbcType=INTEGER}, #{violation,jdbcType=INTEGER}, #{longTrem,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.syyb.seat.pojo.TBook">
    insert into t_book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="seatId != null">
        seat_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="occupyStatus != null">
        occupy_status,
      </if>
      <if test="stratTime != null">
        strat_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="expire != null">
        expire,
      </if>
      <if test="violation != null">
        violation,
      </if>
      <if test="longTrem != null">
        long_trem,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="seatId != null">
        #{seatId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="occupyStatus != null">
        #{occupyStatus,jdbcType=INTEGER},
      </if>
      <if test="stratTime != null">
        #{stratTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expire != null">
        #{expire,jdbcType=INTEGER},
      </if>
      <if test="violation != null">
        #{violation,jdbcType=INTEGER},
      </if>
      <if test="longTrem != null">
        #{longTrem,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.syyb.seat.pojo.TBookExample" resultType="java.lang.Long">
    select count(*) from t_book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_book
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.seatId != null">
        seat_id = #{record.seatId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.occupyStatus != null">
        occupy_status = #{record.occupyStatus,jdbcType=INTEGER},
      </if>
      <if test="record.stratTime != null">
        strat_time = #{record.stratTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expire != null">
        expire = #{record.expire,jdbcType=INTEGER},
      </if>
      <if test="record.violation != null">
        violation = #{record.violation,jdbcType=INTEGER},
      </if>
      <if test="record.longTrem != null">
        long_trem = #{record.longTrem,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_book
    set id = #{record.id,jdbcType=INTEGER},
      seat_id = #{record.seatId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      occupy_status = #{record.occupyStatus,jdbcType=INTEGER},
      strat_time = #{record.stratTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      expire = #{record.expire,jdbcType=INTEGER},
      violation = #{record.violation,jdbcType=INTEGER},
      long_trem = #{record.longTrem,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.syyb.seat.pojo.TBook">
    update t_book
    <set>
      <if test="seatId != null">
        seat_id = #{seatId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="occupyStatus != null">
        occupy_status = #{occupyStatus,jdbcType=INTEGER},
      </if>
      <if test="stratTime != null">
        strat_time = #{stratTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expire != null">
        expire = #{expire,jdbcType=INTEGER},
      </if>
      <if test="violation != null">
        violation = #{violation,jdbcType=INTEGER},
      </if>
      <if test="longTrem != null">
        long_trem = #{longTrem,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.syyb.seat.pojo.TBook">
    update t_book
    set seat_id = #{seatId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      occupy_status = #{occupyStatus,jdbcType=INTEGER},
      strat_time = #{stratTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      expire = #{expire,jdbcType=INTEGER},
      violation = #{violation,jdbcType=INTEGER},
      long_trem = #{longTrem,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

<select id="selByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_book
  </select>
</mapper>